absl-py==0.8.0
astor==0.8.0
certifi==2022.12.7
chardet==3.0.4
defusedxml==0.6.0
Django
django-allauth==0.39.1
django-cors-headers==3.0.2
django-jenkins==0.110.0
django-rest-auth==0.9.5
djangorestframework
oauthlib
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
